version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: secure-db-new
    environment:
      POSTGRES_PASSWORD: project2025
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata: